/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.logistic-options {
    border-collapse: collapse;
}
.logistic-options .logistic-sort {
    cursor: move;
    color: #999;
}
.logistic-options .logistic-sort:hover {
    color: #333;
}

/* edit term meta */
.cf-container-user-meta .cf-container__fields>.cf-field>.cf-field__head, 
.term-php .cf-container__fields>.cf-field:not(.cf-field--has-width)>.cf-field__head {
    left: 20px !important;
}